{% extends "base.html" %}

{% block head_title %} {{ block.super }} | {{ instance }}{% endblock head_title %}

{% block content %}
{% load crispy_forms_tags %}


<div class="col-sm-offset-3 col-sm-6">

	<!-- profile picture -->
	<div>
		{% if profile_pic %}
			<img class="img-responsive img-circle" src="{{ profile_pic.photo.url }}" alt="{{ profile_pic }}" width="304" height="236">
		{% endif %}
	</div>

	<div>
		{% if instance.user.first_name and instance.user.last_name %}
			<h3> 
			{{ instance.user.first_name }} {{ instance.user.last_name }}</h3> {% else %} <h3>{{ instance.user.username }}
			</h3>
		{% endif %}
		{% if request.user == instance.user %}
		<a href="{% url 'edit' pk=instance.pk %}"><button class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span>Edit</button></a>
		{% endif %}
		<h4><small> {{ instance.bio }} </small></h4><br><br>
	</div>

</div>

{% if not instance.user == request.user %}
	<form method="POST" action=''>{% csrf_token %}
	<div style="display: none;">
	 	{{ chat_form }}
	</div>
	<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-heart"></span>Chat</button>
	</form>
{% endif %}


<!-- Breadcrumbs navigation -->
<div class="col-xs-offset-1 col-xs-6">
	<ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#basicinfo">Basic Info</a></li>
        <li><a data-toggle="tab" href="#photos">Photos</a></li>
      	<li><a data-toggle="tab" href="#location">Search</a></li>
      	<li><a data-toggle="tab" href="#upload">Photo Upload</a></li>
    </ul>

    <div class="tab-content">
        <div id="basicinfo" class="tab-pane fade in active">

            <h5><strong>Email Address: </strong> {{ instance.user.email }}</h5>
			<h5><strong>Phone Number: </strong> {{ instance.phone_no }}</h5>
			<h5><strong>Birth Date: </strong> {{ instance.birth_date }}</h5>
			<h5><strong>Gender: </strong> {{ instance.gender }}</h5>

        </div>

        
        <div id="photos" class="tab-pane fade">
	        {% if all_photo %}
	            <div class="row">
	            	 {% for photos in all_photo.all %}
				  <div class="col-xs-6 col-md-6">
				    <a href="#" class="thumbnail">
				    	<img class="img-responsive" src="{{ photos.photo.url }}" alt="{{ photos }}">
				     	{{ photos.caption }}
				    </a>
				  </div>
				  {% endfor %}
				</div>
	        {% else %}
	        	<h5> No photos Available for now </h5>
	        {% endif %}

        </div>

        <!-- For search bro  -->
		<div id="location" class="tab-pane fade">
			{% if request.user == instance.user %}
				<form method="GET" action=''>{% csrf_token %}
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							<label for="sel1">Select Radius (In Km):</label>
						      <select  name="q" value={{ request.GET.q }} class="form-control" id="sel1">
						        <option>1</option>
						        <option>2</option>
						        <option>3</option>
						        <option>4</option>
						        <option>5</option>
						        <option>6</option>

						      </select>
					    </div>
					    <div class="col-sm-2 col-sm-offset-5">
							<button class="btn btn-default" type="submit">
								<span class="glyphicon glyphicon-search"></span>
								Search
							</button>
						</div>
					</div>
				</form>
			{% endif %}
		</div>

		<!-- for_ photo upload -->
		<div id="upload" class="tab-pane fade">
			{% if request.user == instance.user %}
			{% if photo_form %}
			<form method="POST" enctype="multipart/form-data" action=''>{% csrf_token %}
				<div class="row">
					<div class="col-sm-offset-3 col-sm-6">
						{{ photo_form | crispy }}
					</div>
					<div class="col-sm-offset-5 col-sm-2">
						<button class="btn btn-default" type="submit">Submit</button>
					</div>
				</div>
			</form>
			{% endif %}
			{% endif %}
		</div>

    </div>
 </div>

{% endblock content %}







